<div id="header" class="pretty-box green">
    <a href="/"
        ><img src="/images/Camelia.svg" alt="»ö«" id="logo" width=62 height=48
        >&nbsp;Perl 6 Documentation</a
    >
    <div id="search" class="ui-widget">
        <div class="green">
            <input placeholder="Loading..." id="query"
                accesskey="f" title="Enter term to search for (hit Esc to focus)">
        </div>
        <p id="not-found-message">
            Not in Index (<a href="" id="try-web-search">try web search</a>)
        </p>
    </div>
    <div class="menu">
      MENU
    </div>
</div>
<div id="content" class="pretty-box yellow">
