<!doctype html>
<html lang="en">
<head>
    <title>{{{title}}}</title>
    <meta charset="UTF-8"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{prefix}}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{css}}" media="screen" title="default" />
    <noscript> <style> #search { visibility: hidden; } </style> </noscript>
</head>

<body class="pod">

    <div id="___top"></div>

    {{! ============= header ============= }}
    <div id="header" class="pretty-box green">

        {{! Site icon }}
        <a href="{{prefix}}/">
            <img src="{{prefix}}/images/Camelia.svg"alt="»ö«"id="logo"width="62"height="48"/> &nbsp;Raku Documentation
        </a>

        {{! Seach barch }}
        <div id="search" class="ui-widget">
            <div class="green">
                <input placeholder="Loading..." id="query" accesskey="f" title="Enter term to search for (hit Esc to focus)"/>
            </div>
            <p id="not-found-message">
                Not in Index (<a href="" id="try-web-search">try site search</a>)
            </p>
        </div>

        {{! Site navigation menus }}
        <div class="menu">

            {{! Main menu }}
            <div class="menu-items dark-green">
                <a class='menu-item darker-green' href='https://raku.org'><strong>Raku homepage</strong></a>
                {{#menu}}
                    <a class="menu-item {{{class}}}" href="{{{href}}}"> {{{display-text}}} </a>
                {{/menu}}
            </div>

            {{! Submenu }}
            {{#submenu}}<div class="menu-items darker-green">{{/submenu}}
                {{#submenu}}
                    <a class="menu-item" href="{{{href}}}"> {{{display-text}}} </a>
                {{/submenu}}
            {{#submenu}}</div>{{/submenu}}

        </div>
    </div>

    {{! ============= main content ============= }}
    <div id="content" class="pretty-box yellow content_fragment">

        {{! edit button }}
        <div align="right" style="display:{{editable}};">
            <button title="Edit this page"  class="pencil" onclick="location='{{editURL}}'">
                <svg width="14px" height="16px" viewBox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Octicons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="pencil" fill="#000000">
                            <path d="M0,12 L0,15 L3,15 L11,7 L8,4 L0,12 L0,12 Z M3,14 L1,14 L1,12 L2,12 L2,13 L3,13 L3,14 L3,14 Z M13.3,4.7 L12,6 L9,3 L10.3,1.7 C10.69,1.31 11.32,1.31 11.71,1.7 L13.3,3.29 C13.69,3.68 13.69,4.31 13.3,4.7 L13.3,4.7 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>

        <h1 class="title">{{title}}</h1>
        <p class="subtitle">{{subtitle}}</p>

        {{! pod source }}
        {{{toc}}}
        <div class="pod-body toc-class">
            {{{body}}}
        </div>
    </div>

    {{{footnotes}}}

    {{! ============= footer ============= }}
    <footer class="pretty-box yellow">
        <p style="display:{{editable}};">
            Generated from <a href="{{podPath}}">{{podPath}}</a>.
        </p>
        <p>
            This is a work in progress to document Raku (formerly known as Perl 6), and
            known to be incomplete.
        </p>
        <p>
            <a href="https://github.com/raku/doc/blob/master/CONTRIBUTING.md#reporting-bugs">
                Please report any issues
            </a>
            Your contribution is appreciated.
        </p>
        <p>
            This documentation is provided under the terms of the
            <a href="https://raw.githubusercontent.com/raku/doc/master/LICENSE">
                Artistic License 2.0
            </a>. The Camelia image is
            <a href="https://raw.githubusercontent.com/raku/mu/master/misc/camelia.txt">
                copyright © 2009 by Larry Wall.
            </a>
            <!-- CREDITS -->
            <!--External Link Image by Zapyon, CCA-SA 4.0. Derived from Wikimedia Foundation https://commons.wikimedia.org/wiki/File:External-link-04-bold-12x12.svg -->
        </p>
    </footer>

    <script type="text/javascript" src="{{prefix}}/js/app.js?v=1"></script>
    <script type="text/javascript" src="{{prefix}}/js/search.js?v=3"></script>
</body>
</html>
