*.swp
index.data
*~
html/*.html
html/perl6.xhtml
html/routine/
html/type/
html/op/
html/language/
html/programs/
html/syntax/
html/images/type-graph*
html/js/search.js
.precomp
precompiled
assets/assetpack.db
assets/cache
.sass-cache/
html/css/style.css.map
html/links.txt
xt/aspell.pws
