*.swp
index.data
*~
html/*.html
html/css/app.css
html/perl6.xhtml
html/routine/
html/type/
html/op/
html/language/
html/programs/
html/syntax/
html/images/type-graph*
html/js/search.js
html/js/app.js
.precomp
precompiled
assets/assetpack.db
assets/cache
.sass-cache/
links.txt
links.tmp
xt/aspell.pws
highlights/node_modules
**/npm-debug.log
highlights/atom-language-perl6/
.DS_store
highlights/package-lock.json
.pod-cache
retest
build/
