RewriteEngine On
RewriteLog "/tmp/rewrite.log"
RewriteLogLevel 3

RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/\.well-known/
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=permanent,L]

RewriteCond %{HTTP_HOST} ^doc.perl6.org [NC]
RewriteRule ^(.*)$ https://docs.perl6.org/$1 [R=permanent,L]

RewriteRule ^language/?$ https://docs.perl6.org/language.html [R,L]

# We no longer need this, as we swapped the generator to not use the $COLONs on
# non-Windows operating systems. Since we used that earlier, rewrite in reverse
# in case someone is using the long and awful URLs
# RewriteRule ^type/(.*?)::(.*) /type/$1\$COLON\$COLON$2 [N]
#RewriteRule ^type/(.*?)\$COLON\$COLON(.*) /type/$1::$2 [N]
#RewriteRule ^type/(.*?)\$COLON(.*) /type/$1::$2 [N]

## Generated:
RewriteRule          ^(/?type/.*/[^/]*?)([^/]*?\$COLON[^/]*)$ $1:$2 [N]
RewriteRule          ^(/?type/.*/[^/]*?)\$COLON([^/\$COLON]*)$       $1:$2 [R=301]

RewriteRule       ^(/?routine/.*/[^/]*?)([^/]*?%5E[^/]*)$ $1\$CIRCUMFLEX_ACCENT$2 [N]
RewriteRule       ^(/?routine/.*/[^/]*?)%5E([^/%5E]*)$       $1\$CIRCUMFLEX_ACCENT$2 [R=301]
RewriteRule ^type/int(8|16|32|64)?(.html)?$ https://docs.perl6.org/language/nativecall#Passing_and_returning_values [NE,R=301]
RewriteRule ^language/unicode_texas(.html)?$ https://docs.perl6.org/language/unicode_ascii [R=301]

RewriteRule ^type/(.*?)\$REVERSE_SOLIDUS(.*) /type/$1%5c$2 [N]

Redirect 301 /language/5to6 https://docs.perl6.org/language/5to6-nutshell
Redirect 301 /examples      http://examples.perl6.org/
Redirect 301 /perl6.xhtml   https://docs.perl6.org/perl6.html
Redirect 301 /examples.html http://examples.perl6.org/
Redirect 303 /webchat       https://webchat.freenode.net/?channels=#perl6
Redirect 303 /webchat.html  https://webchat.freenode.net/?channels=#perl6

ErrorDocument 404 /404.html

<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
</IfModule>
