RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/\.well-known/
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=permanent,L]

RewriteCond %{HTTP_HOST} ^doc.perl6.org [NC]
RewriteRule ^(.*)$ https://docs.perl6.org/$1 [R=permanent,L]

Redirect 301 /language/5to6 https://docs.perl6.org/language/5to6-nutshell
ErrorDocument 404 /404.html
