RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=permanent,L]

Redirect 301 /language/5to6 https://doc.perl6.org/language/5to6-nutshell
ErrorDocument 404 /404.html
