h1,h2 {
    padding: 0;
    margin: 0;
    font-family: futura, "Andale Mono", arial, helvetica, sans-serif;
}

div {
    display: block;
    padding: 0.5em;
/*    border: 1px solid gray; */
    border: 1px solid white;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 1em;
}

div.P6cheat {
    margin: 0.5em auto;
/*    white-space: pre-line; */
    white-space: pre;
}

p,th,td {
    font-family: "Lucida console", Courier, monospace;
    padding: 0;
    margin: 0;
}

address,hr
{
    clear: both;
}

#container
{
    width: 90%;
    clear: both;
}

#sigils,#twigils
{
    float: left;
    clear: left;
    background-color: aquamarine;
}

#contexts
{
    float: left;
    background-color: palegreen;
}

#access_div
{
    float: right;
    clear: right;
    background-color: lightcyan;
    min-width: 40%;
    max-width: 50%;
}

TABLE.access 
{
    background-color: paleturquoise;
    border: 1px solid white;
    margin: 0.5em auto;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

TH,TD
{
    text-align: left;
    vertical-align: top;
/*    border: 1px solid white; */
    padding: 0.2em;
}

TR
{
    border: 0;
    padding: 0;
    margin: 0;
}

#topleft
{
    -moz-border-top-left-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

#topright
{
    -moz-border-top-right-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#botleft
{
    -moz-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

#botright
{
    -moz-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#top
{
    -moz-border-top-left-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -moz-border-top-right-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#bot
{
    -moz-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -moz-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#access_head,#arrays,#hashes
{
    white-space: pre;
    float: left;
/*     text-align: bottom; */
    background-color: paleturquoise;
}

#composers
{
    float: left;
    background-color: peachpuff;
}

#automatic_dereference
{
    float: right;
    clear: right;
    background-color: lemonchiffon;
}

#control_syntax
{
    float: right;
    clear: right;
    background-color: moccasin;
}

#operator_precedence
{
    float: left;
    background-color: lightsalmon;
}

#scope_declarators
{
    float: left;
    background-color: lightblue;
}

#types
{
    float: right;
    clear: right;
    background-color: burlywood;
}

#operator_domains
{
    float: right;
    clear: right;
    background-color: lightpink;
}

#metaoperators
{
    float: left;
    clear: left;
    background-color: palevioletred;
}

#special_variables
{
    float: left;
    clear: left;
    background-color: bisque;
}

#regex_metachars
{
    float: left;
    background-color: lightcoral;
}

#regex_modifiers
{
    float: right;
    clear: right;
    background-color: thistle;
}

#regex_charclasses
{
    float: right;
    clear: right;
    background-color: lightsteelblue;
}

#links
{
    float: right;
    background-color: powderblue;
}

#IRC
{
    float: right;
    background-color: turquoise;
}
