html, body {
    margin: 0;
    background: #EFEFEF;
    font-family: sans-serif !important; /*override font from perl.css stylesheet, until we can get rid of it*/
}

html {
    padding: 0;
    width: 100%;
}

body {
    padding: 0 2em;
    width: auto;
}

h1:first-child {
    margin-top: 0;
}

pre {
    background-color: #DFDFDF;
    border: 1px solid #CFCFCF;
    padding: 0.6ex;
}

img {
    max-width: 100%;
}

.pretty-box {
    border: 0.2em solid;
    background-style: solid;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em #888888;
    padding: 2em;
}

.red {
    border-color: #E43B59;
    background-color: #E47286;
}

.green {
    border-color: #8BC313;
    background-color: #C0E472;
}

.blue {
    border-color: #63A4FF;
    background-color: #80B5FF;
}

.yellow {
    border-color: #F2C100;
    background-color: #F5EF7B;
}

#header {
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0 0 4em 4em;
    margin: -2em auto 0; /*extra top padding and negative margin preserves bleed-off illusion for shadow*/
    padding: 3em 3em 1em;
    line-height: 2em;
    overflow: hidden;
    border-top: none;
}

#header a {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
}

#logo {
    display: inline-block;
    margin: -0.75em 0 -0.5em -0.5em;
    border: none;
    vertical-align: middle;
}

#search {
    float: right;
    width: 42%;
    min-width: 18em;
    max-width: 35em;
    visibility: hidden; /*visibility is set to visible in search.js if javascript is supported*/
}

#search label {
    float: left;
    font-size: 1.25em;
}

#search div {
    overflow: hidden;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0 0.5em;
    background-color: #FFFFFF;
}

#query {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: none;
}

#content {
    margin: 2em auto;
    overflow: hidden;
    max-width: 800px;
    background: #FFFFFF;
}

#footer {
    margin: 2em auto;
    padding: 0 1em;
    overflow: hidden;
}

