html, body {
	margin: 0;
	background: #EFEFEF;
}

html {
	padding: 0;
	width: 100%;
}

body {
    padding: 0 2em;
	width: auto;
}

h1:first-child {
	margin-top: 0;
}

pre {
    background-color: #F4F4F8;
    border: 1px solid #EDEDF2;
    padding: 0.6ex;
}

img {
    max-width: 100%;
}

.pretty-box {
	border: 0.2em solid;
	background-style: solid;
	border-radius: 1em;
	box-shadow: 0.5em 0.5em 1em #888888;
	padding: 2em;
}

#header {
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0 0 4em 4em;
    margin: -2em auto 0; /*extra top padding and negative margin preserves bleed-off illusion for shadow*/
    padding: 3em 3em 1em;
    line-height: 2em;
    overflow: hidden;
    background: #C0E472;
	border-color: #8BC313;
	border-top: none;
}

#header a {
    float: left;
    color: #000000;
    text-decoration: none;
	font-size: 2em;
}

#header #search {
    float: right;
	width: 42%;
	min-width: 18em;
}

#header #search label {
	float: left;
	font-size: 1.25em;
}

#query {
    z-index: 100;
    position: relative;
}

#search div {
	overflow: hidden;
	border: 0.1em solid #8BC313;
	border-radius: 0.5em;
	padding: 0 0.5em;
	background-color: #FFFFFF;
}

#header #query {
    outline: none;
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#content {
	margin: 2em auto;
	overflow: hidden;
	max-width: 800px;
	background: #FFFFFF;
	border-color: #F2C100;
}

#footer {
    margin: 0 auto;
	padding: 0 1em 0;
    overflow: hidden;
	background: #E47286;
	border-color: #E43B59;
	border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

