html {
    margin: 0;
    padding: 0;
    background: #F7F7F7;
}

body {
    margin: 0 auto;
    padding: 0 2em 2em;
    background: #FFFFFF;
}

pre {
    background-color: #F4F4F8;
    border: 1px solid #EDEDF2;
    padding: 0.6ex;
}

img {
    max-width: 100%;
}

#header {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    border-radius: 0 0 2em 2em;
    margin-top: 0;
    padding: 0.5em 1.5em;
    line-height: 1em;
    overflow: hidden;
    background: #778F5F;
    color: #FFFFFF;
}

#header a {
    float: left;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 0 0.5em #000000;
}

#header #search {
    float: right;
    font-size: 0.5em;
}

#query {
    z-index: 100;
    position: relative;
}

#header #query {
    border: none;
    outline: none;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
}


